*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,body{
    width: 100%;
    height: 100%;
}


.main{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center; 
    justify-content: center;
    background-color: rgb(144, 201, 137)
}

#panl{
    width: 80%;
    height: 80%;
    overflow: hidden;
    border-radius: 10px;
    background-color: #fff   
}

#ptop{
    padding: 0 20%;
    width: 100%;
    height: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: rgb(124, 238, 101)   
}

.elm{
    display: flex;
    align-items: center;
    gap: 12%;
    width: 10%;
}
.box{
    padding: 10px 15px;
    font-weight: 600;
    font-size: 15px;
    background-color: #fff;
    border-radius: 5px;
}

.img{
    width: 50%;
    height: 58%;
}
#pbtm{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 88%;
    background-color: #fff;
}

.buble{
    width: 50px;
    height: 50px;
   color: white;
   border-radius: 50%;
   display: flex;
   align-items: center; 
   justify-content: center;
   background-color: rgb(49, 48, 48);
    cursor: pointer;
    font-weight: 500;
}

.buble:hover{
    background-color: #000;
}

@media scren and (max-width:550px){
    #ptop {
      
        height: 6rem;
        flex-direction: column;
    }  
  
    .elm{
        gap: 50%;
    }
}